
.DS_Store
Intro/3oMasPersonas.jpg
Intro/AI.png
Intro/AIMeme.png
Intro/Arrests.png
Intro/Batman1.png
Intro/Batman2.png
Intro/Baymax_reading.jpg
Intro/bender_reading.jpg
Intro/Complexity.png
Intro/CompuReading.jpg
Intro/Corrupcion.png
Intro/DataScience.png
Intro/DataScientist.png
Intro/Dinero.png
Intro/ejemplo1.png
Intro/ejemplo2.png
Intro/Gambling.png
Intro/html.png
Intro/IllegalGoods.png
Intro/IllegalServices.jpg
Intro/incognito.jpg
Intro/MapaDEA.jpg
Intro/MapaPGR.jpg
Intro/MeanCartel2.png
Intro/MediaCoverage.png
Intro/Noticia.pdf
Intro/Obama.png
Intro/Oximetro.png
Intro/PoliceSurvey.jpeg
Intro/Prison.jpg
Intro/ProcesarDatos.png
Intro/robotReading.jpg
Intro/Tiempo.png
Intro/Unsolved.png
Intro/Victimizacion.png
Intro/WebCrawlEx.png
Intro/webSpyder.png
NLP/NLP.png
Redes_Neuronales/AND.png
Redes_Neuronales/ArquitecturaRed.png
Redes_Neuronales/cat_dog_class.png
Redes_Neuronales/Cnn1 .png
Redes_Neuronales/CNNFinal.png
Redes_Neuronales/ColorearFotos.png
Redes_Neuronales/CostFunctionAL.png
Redes_Neuronales/CrossEntropy1.png
Redes_Neuronales/Cv.png
Redes_Neuronales/DeepLearning.png
Redes_Neuronales/deepNN.png
Redes_Neuronales/diablito1.png
Redes_Neuronales/EjemploRD3.png
Redes_Neuronales/featureMao.png
Redes_Neuronales/joke1.jpeg
Redes_Neuronales/Learning1.png
Redes_Neuronales/mnist_train.csv
Redes_Neuronales/neurona.png
Redes_Neuronales/NeuronArt.png
Redes_Neuronales/precepton.png
Redes_Neuronales/RDde3.png
Redes_Neuronales/RedDigitos.png
Redes_Neuronales/RN.Rmd
Redes_Neuronales/ShallowDeepNN.png
Redes_Neuronales/Translation.png
Redes_Neuronales/Vanishing.png
Text_Data/AutomatedAnalysis.png
Text_Data/HPhillips1.png
Text_Data/HPhillips2.png
Text_Data/MediaBias.png
Text_Data/NYProstitution.png
Text_Data/SocialMediaUsage.png
Text_Data/TextAnalysis.png
Intro/Intro.Rmd
Text_Data/TextData.Rmd
